@import '../../styles/settings.scss';

.chart-form-container {
  padding: 1rem;

  h2 {
    text-align: center;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    input,
    select {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-family: $font-family;
    }

    .select-category {
      width: 100%;
    }

    .warning-text {
      color: $color-warning;
      font-family: $font-family;
    }
  }
}
