@import '../../styles/settings.scss';

.categories-section-wrapper {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .doughnut-chart-container {
    min-width: 35rem;
    min-height: 35rem;

    h1 {
      margin-bottom: 0;
    }
  }

  .chart-btns-container {
    display: flex;
    justify-content: center;

    .chart-btn {
      @include transition;
      margin: 1rem;
      padding: 1rem;
      border-radius: 100%;

      background: radial-gradient(
        180% 180% at 0% 0%,
        rgba(255, 255, 255, 0.4) 0,
        rgba(255, 255, 255, 0) 100%
      );

      border-bottom: 1px solid rgb(0, 0, 0);
      border-right: 1px solid rgb(0, 0, 0);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);

      &:hover {
        background: radial-gradient(
          100% 100% at 0% 0%,
          rgba(255, 255, 255, 0.4) 0,
          rgba(255, 255, 255, 0) 100%
        );

        color: $color-important;
        border-bottom: 1px solid $color-important;
        border-right: 1px solid $color-important;
        box-shadow: none;
      }
    }
  }
}
