@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

h1,
h2,
label {
  font-family: $font-family;
  color: $color-light;
  text-align: center;
}

button {
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

body {
  background-color: $color-dark;
  height: 100vh;
}

.wrapper {
  padding: 1rem;
}

.add {
  @include transition;

  &:hover {
    background-color: $color-success;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0);
  }
}

.edit {
  @include transition;

  &:hover {
    background-color: $color-warning;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0);
  }
}

.delete {
  @include transition;

  &:hover {
    background-color: $color-error;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0);
  }
}
