@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
label {
  font-family: $font-family;
  color: $color-light;
}

button {
  font-family: $font-family;
}

body {
  background-color: $color-dark;
  height: 100vh;
}

.wrapper {
  padding: 1rem;
}
