@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
$font-family: 'Poppins', sans-serif;

$color-light: #fbf5f3cc;
$color-dark: #1e152a;
$color-success: #57a773;
$color-warning: #f1bc2a;
$color-error: #db222a;
$color-important: #08b2e3;

@mixin transition {
  transition: 0.5s cubic-bezier(0, 0, 0, 1);
}
